    body {
        background-color:lightslategray; 
        /*float:left; */

        
        text-align:center;
        width:100%;
        max-width: 900px;
        vertical-align: middle;
        border:1px solid black;
        /*width: 1000px;*/
    }
    .cpbuttonclass{
        background-color: #fcfcfcab;
        border: 1px solid black;
        border-radius: 4px;
        padding:5px; 
        margin:2px;
    }
    .cpbuttonclass:hover {
        background-color: #fcfcfc50;
    }
    .sidebar{
        /*
        width:90%;
        */
        padding:3px; 
        margin:3px;
        background-color:rgb(60, 60, 60); 
        border: 1px solid black;
        border-radius: 6px;
    }
    .sidebarbutton{
        /*
        color: white;
        background-color: darkblue;
        border:1px solid blue;
        */
        border-radius: 6px;
        width:15%;
        background-color: gray;
        color: white;
    }

    button{
        padding:5px;
        user-select: none;
    }

    textarea {
        padding:3px;
        margin:3px;
    }

    div {
        margin:5px;
    }

    textarea {
        vertical-align: middle
    }

    hr{
        border:0;
        border-bottom: 1px solid black;
    }

    #message{
        
        /*
        display:none;
        width:85%;
        */
        border:1px solid black;
        margin:5px;
        padding:5px;
        background-color: cyan;
    }

    .longbutton {
        width:90%; 
        margin:5px;
        border-radius: 4px;
        border-color: #4B5258;
        font-weight: bold;
    }
    .contentblock {
        border-bottom: 1px solid black;
        padding:2px;
        padding-top: 1px;
        padding-bottom: 3px;
        border-radius: 2px;
        /*padding: 3px; */
        /*
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
        padding-right: 3px;
        margin:3px;
        width:90%;
        background-color:lightslategray; 
        border: 1px solid black;
        */
    }


    .saveelement {
        /*width:18%; */
        /*
        margin:5px; 
        */
    
        padding:5px;
        border: 1px solid black;
        width:70%;
        display:inline-block;
    }

    .titles{
        margin:3px; 
        padding:3px; 
        background-color:#92A0AD; /*lightsteelblue;*/
        border:1px solid #4B5258;
    }

    .bounceorb {
        margin:3px; 
        padding:3px; 
        background-color:green;
        width:98%;
        border:1px solid darkgreen;
    }
    .killorb {
        margin:3px; 
        padding:3px; 
        background-color:crimson;
        width:98%;
        border:1px solid darkred;
    }

    #CPnotes {
        width:70%;
        margin-bottom: 3px;
    }
    #selectedcpnumber {
        font-weight: bold;
        /*background-color:#92A0AD;*/
    }
    #cpdata{
        display:none;
    }
    #orbs-kills{
        display:none;
    }
    .converterthing{
        display:inline-block;
        vertical-align: text-top;
        margin:5px;
        border:1px solid black;
        padding:5px
    }