    body {
        background-color:lightslategray; 
        float:left; 
        text-align:center;
        width:100%;
        max-width: 1000px;
        /*width: 1000px;*/
    }

    .sidebar{
        padding:3px; 
        margin:3px;
        width:90%;
        background-color:rgb(60, 60, 60); /*gray*/
        border: 1px solid black;
    }
    .sidebarbutton{
        /*
        color: white;
        background-color: darkblue;
        border:1px solid blue;
        */
        background-color: gray;
        color: white;
        width:25%;
    }

    button{
        padding:5px;
        user-select: none;
    }

    textarea {
        padding:5px;
    }

    div {
        margin:10px;
    }

    #message{
        display:none;
        /*width:85%;*/
        border:1px solid black;
        margin:5px;
        padding:5px;
        background-color: cyan;
    }

    .longbutton {
        width:90%; 
        margin:5px;
    }
    .contentblock {
        padding:3px; 
        margin:3px;
        width:90%;
        background-color:lightslategray; /*gray*/
        border: 1px solid black;
    }

    #helpbar {
        display:none; 
    }

    #savebar {
        display:none; 
    }
    .saveelement {
        /*width:18%; */
        width:80%;
        border: 1px solid black;
        margin:5px; 
        padding:5px;
        display:inline-block;
    }

    .bounceorb {
        margin:3px; 
        padding:3px; 
        background-color:green;
        width:98%
    }
    .killorb {
        margin:3px; 
        padding:3px; 
        background-color:crimson;
        width:98%
    }

    #CPnotes {
        width:90%;
        margin-bottom: 3px;
    }
    #selectedcpnumber {
        font-weight: bold;
    }
    #cpdata{
        display:none;
    }
    #orbs-kills{
        display:none;
    }